/*#arena {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  background-color: #E4F4FA;
}*/
* {
  border-radius: 5px;
}

header {
  margin: 20px;
}

li {
  list-style: none;
}

span {
  margin: 5px 10px;
}

#p1Box, #p2Box, #matchBox {
  height: 300px !important;
}

.seeMe {
  background-color: #E4F4FA;
}

#matchResultsTextBox {
  font-size: 4em;
}

#p1Choice, #p2Choice {
  font-size: 3em;
}

#p1Stats, #p2Stats {
  position: absolute;
  bottom: -1px !important;
}

#chatLog {
  height: 200px;
  width: 100%;
  /*background-color: #F7F1D9;*/
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
}
